<article class="blog-post">
  <h1>{{post.title}}</h1>
  <p>{{post.body}}</p>
  <p>{{#each post.rate as |postt|}}
    {{postt}}
    {{/each}}
  </p>
  <p>Edit title: {{input type="text" value=post.title}}</p>
</article>
<!--table>
  {{!--{{#times post.col.length}}
    <th>
      {{post.col}}
    </th>
  {{/times}}--}}
</table-->
