<style>
  li {
     visibility: hidden;
     opacity: 0
  }
  button:focus{
      background-color: green;
      background: no-repeat top;
  }
  .container {
      width: 500px;
      margin: 0 auto;
  }
  .progress_outer {
      border: 1px solid #000;
      align-items: baseline;
  }
  .progress {
      width: 0%;
      background: #DEDEDE;
      height: 20px;
      margin-right: auto;
  }
</style>
<!--div class='container'-->

{{#if isExporting}}
  <div class='progress_outer'>
      <div id='_progress' class='progress'></div>
  </div>
{{/if}}
{{#if isPaginated}}
  {{#if loading}}
    Loadddinggg
  {{else}}
    <button id = "export-button" id="exp" class = "export" {{action "export"}}> Export</button>
    {{input type="text" list="cols" id="filterCol" name="filterCol" value=filterCol placeholder="Enter column name"}}
    {{input type="text" value=filterValue name="filterValue" id="filterValue" placeholder="Enter filter Value"}}
    <datalist id="cols">
  		{{#each cols as |col|}}
      	<option value={{col}}>
        </option>
  		{{/each}}
    </datalist>
    {{yield paginatedItems.content}}
    {{#if isPresent}}
      <ul>
      {{#if showPrevious}}
        <button {{action "previousClicked"}}>{{previousText}}</button>
      {{/if}}
      {{#each pageNumbers as |pageNumber|}}
        <button {{action "pageClicked" pageNumber}}>Page {{pageNumber}}</button>
      {{/each}}
      {{#if showNext}}
        <button {{action "nextClicked"}}>{{nextText}}</button>
      {{/if}}
      <br/>
      <center>
        Showing {{page}} out of {{pageCount}}
      </center>
      </ul>
    {{else}}
      No data exists
    {{/if}}
  {{/if}}
{{/if}}
