<style>
  li {
     visibility: hidden;
     opacity: 0
  }
  button:focus{
      background-color: green;
      background: no-repeat top;
  }
  .container {
      width: 500px;
      margin: 0 auto;
  }
  .progress_outer {
      border: 1px solid #000;
      align-items: baseline;
  }
  .progress {
      width: 0%;
      background: #DEDEDE;
      height: 20px;
      margin-right: auto;
  }
  .centered-scrolling-wrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: scroll;
  }

  .centered-scrolling-overlay {
    position: relative;
    height: auto;
    min-height: 100vh;
    padding: 1em;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  /* basic modal style (an example, this is not necessary for the centering) */
  /*.centered-scrolling-container {
    position: relative;
    background-color: white;
    min-width: 30em;
    max-width: 650px;
    min-height: 20em;
    padding: 3em;
    margin-top: 30px;
    margin-bottom: 30px;
    box-sizing: border-box;
    box-shadow: 0px 4px 25px 4px rgba(0,0,0,0.30);
  }*/
</style>
<!--div class='container'-->

{{#if isExportInitiated}}
  {{#modal-dialog close='closeDialog' translucentOverlay='true'}}
    Enter start EventID :
    <br/>
    {{input type="number" id="startID" name="startID" value=startID placeholder="Enter start EventID"}}
    <br/><br/>
    Enter end EventID :
    <br/>
    {{input type="number" id="endID" name="endID" value=endID placeholder="Enter end EventID"}}
    <br/><br/>
    <button id = "export" id="exp" class = "export" {{action "export"}}> Export</button>
    <button id = "closeDialog" id="close" class = "close" {{action "closeDialog"}}> Close</button>
    <br/><br/>
    {{#if isExporting}}
      {{ember-progress-bar id="test" options=(hash strokeWidth=10 color='#3a3a3a' trailColor='#f4f4f4' width='100%') setProgress=progress}}
      <!--div class='progress_outer'>
        <div id='_progress' class='progress'></div>
      </div-->
    {{/if}}
  {{/modal-dialog}}
{{/if}}
{{#if isPaginated}}
  {{input type="text" list="cols" id="filterCol" name="filterCol" value=filterCol placeholder="Enter column name"}}
  {{input type="text" value=filterValue name="filterValue" id="filterValue" placeholder="Enter filter Value"}}
  {{#if loading}}
    Loadddinggg
  {{else}}
    <button id = "export-button" id="exp" class = "export" {{action "initiateExport"}}> Export</button>
    <button id = "delete-button" id="delete" class = "export" {{action "delete"}}> Delete</button>
    <button id="exportEmailButton" class = "export" {{action "exportEmail"}}> Send as Attachment</button>
    {{#if deleteInitiated}}
      {{#modal-dialog close='closeDialog' translucentOverlay='true' containerClass='centered-scrolling-container' overlayClass='centered-scrolling-overlay' wrapperClass='centered-scrolling-wrapper'}}
        Enter the event ID that you want to delete
        <br/>
        {{input type="number" id="deleteID" name="deleteID" value=deleteID placeholder="Enter eventID to delete"}}
        <br/><br/>
        <button id = "closeDelete" id="closeDelete" {{action "closeDelete"}}> Close</button>
        <button id = "deleteEvent" id="deleteEvent" {{action "deleteEvent"}}> Delete</button>
        {{!--#if deleted}}
          {{!--#disp-table colData=deletedEvents.col rowData=deletedEvents.row table_name=table_name isPresent = isPresent}}
          {{/disp-table}}
        {{/if--}}
      {{/modal-dialog}}
    {{/if}}
    <datalist id="cols">
  		{{#each cols as |col|}}
      	<option value={{col}}>
        </option>
  		{{/each}}
    </datalist>
    {{yield paginatedItems.content}}
    {{#if isPresent}}
      <ul>
      {{#if showPrevious}}
        <button {{action "previousClicked"}}>{{previousText}}</button>
      {{/if}}
      {{#each pageNumbers as |pageNumber|}}
        <button {{action "pageClicked" pageNumber}}>Page {{pageNumber}}</button>
      {{/each}}
      {{#if showNext}}
        <button {{action "nextClicked"}}>{{nextText}}</button>
      {{/if}}
      <br/>
      <center>
        Showing {{page}} out of {{pageCount}}
      </center>
      </ul>
    {{else}}
      No data exists
    {{/if}}
  {{/if}}
{{/if}}
