<style>
  li {
     visibility: hidden;
     opacity: 0
  }
  button:focus{
      background-color: green;
      background: no-repeat top;
  }
</style>
{{#if isPaginated}}
  {{input type="text" list="cols" id="filterCol" name="filterCol" value=filterCol placeholder="Enter column name" }}
  {{input type="text" value=filterValue name="filterValue" id="filterValue" placeholder="Enter filter Value"}}
  <datalist id="cols">
		{{#each cols as |col|}}
    	<option value={{col}}>
      </option>
		{{/each}}
  </datalist>
  {{yield paginatedItems.content}}
<ul>
  {{#if showPrevious}}
    <button {{action "previousClicked"}}>{{previousText}}</button>
  {{else}}
    <li>{{previousText}}</li>
  {{/if}}
  {{#each pageNumbers as |pageNumber|}}
    <button {{action "pageClicked" pageNumber}}>Page {{pageNumber}}</button>
  {{/each}}
  {{#if showNext}}
    <button {{action "nextClicked"}}>{{nextText}}</button>
  {{else}}
    <li>{{nextText}}</li>
  {{/if}}
</ul>
{{/if}}
