<style>
  li {
     visibility: hidden;
     opacity: 0
  }
  button:focus{
      background-color: green;
      background: no-repeat top;
  }
</style>
{{#if isPaginated}}
  {{yield paginatedItems}}
<ul>
  {{#if showPrevious}}
    <button {{action "previousClicked"}}>{{previousText}}</button>
  {{else}}
    <li>{{previousText}}</li>
  {{/if}}
  {{#each pageNumbers as |pageNumber|}}
    <button {{action "pageClicked" pageNumber}}>Page {{pageNumber}}</button>
  {{/each}}
  {{#if showNext}}
    <button {{action "nextClicked"}}>{{nextText}}</button>
  {{else}}
    <li>{{nextText}}</li>
  {{/if}}
</ul>
{{/if}}
