<style>
table, td {
    border: 1px solid black;
    font-size: 25px;
}
table {
  border-collapse: collapse;
  padding: 15px;
  /*table-layout: auto;
  width: 180px;*/
}
</style>
<div>
  <br/>
  <b>Enter the table_name:</b><br/>
  {{input type="text" id="table_name" name="table_name" value=table_name placeholder="Enter table_name" }}
  <button {{action "display"}}>Go</button>
</div>
<button {{action "test"}}>test</button>
<button {{action "tesst"}}>tesst</button>
<center><br/><br/>
<div id="tablediv">
	<!--table id="table">
		<thead id="tablehead">
		</thead>
		<tbody id = "tablebody">
		</tbody>
	</table>
  {{!--{{message}}--}}
</div>
</center-->
<table>
  <tr>
    {{#each model.col as |post|}}
    <th>
      {{post}}
    </th>
    {{/each}}
  </tr>
  {{#each model.row as |post|}}
    {{#blog-post post=post}}
    {{/blog-post}}
  {{/each}}
</table>
</div>
</center>
